:root {
  --yellow: #ffc600;
  --black: #272727;
  --blue: #4392F1;
  --white: #FFFFFF;
  --red: #C78283;
  --green: #6FD9E2;
  --grey: #628395;
  --black2: rgb(34, 41, 44);
}

html {
    font-family: 'Mukta Malar','Nunito Sans','Roboto', 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
    margin: 0px;
}

 .navbar {  
    background-color: #4392F1;
    display: flex;
    flex-direction: row;
    width: 100vw;
    position:fixed;
    justify-content: flex-end;
    align-items: center;
}

.nav {
  display: grid;
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 140px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  padding:0px;
  margin: 0px;
  border: #4392F1;
  color: var(--white);
  opacity: 0.4;
  text-transform:uppercase;
  font-family: 'Mukta Malar';
  text-decoration: none;
  background-color: #4392F1;
}

.active {
    background-color: rgba(0,0,0,0.2);
    opacity:1;
}   

.nav:hover{
    background-color: #ff8800d7;
    opacity:1;
}

.content {
    margin:0px;
    display:grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 400vh auto;
}

.header{
    background-color: var(--white);
    z-index: -1;
    display:grid;
    grid-template-columns: 1fr;
    background-image: url(https://source.unsplash.com/pUAM5hPaCRI);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.header_title {
  position: absolute;
    width: 100%;
  text-align: center;
  top: 7%;
  color: #131313;
  font-family: 'Kaushan Script','Nunito Sanz', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-transform:uppercase;
}   

.header_text {
  width: 100%;
  text-align: center;
  top: 80%;
  color: #131313;
  font-family: 'Nunito Sanz', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 40px;
  
}   


#quienSoy {
    display: grid;
    height: 80vh;
    background: linear-gradient(white, white, var(--grey));
}

#estudios {
    display: grid;
    height: 80vh;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
}

.estudio-cuadro {
    display:grid;
    width: 750px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    justify-items: left;
    align-items: center;
    border-radius: 15px;
    border: 5px dashed black;
}

.detalle {
    display:grid;
    justify-content: left;
    justify-items: left;
    grid-template-rows: auto auto auto;
    font-size: 30px;
}

.footer{
    display:grid;
    background-color: var(--blue);
    color: var(--white);
    align-items: center;
    font-size: 15px;
    padding:10px;
}